/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap'); */

/* Italic */
@font-face {
	font-family: 'sans';
	src: url('../assets/fonts/sansserifflf-demiitalic-webfont.woff2') format('woff2'),
		url('../assets/fonts/sansserifflf-demiitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../assets/fonts/CenturyGothic.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

:root {
	--dark-gray: #393c41;
	--light-gray: #f4f4f4;
	--primary: #2d67b2;

	--heading-1: 2.857142857142857em;
	--heading-2: 34px;
	--heading-3: 30px;
	--heading-4: 2em;

	--sub: 17px;
	--body: 1em;

	--border-radius: 20px;

	--f-body: 'Century Gothic', sans-serif;
	--fw-body: 300;
	--fw-heading: bold;
	--fw-subheading: 400;
}
html,
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: var(--heading-1);
	color: var(--dark-gray);
}

h2 {
	font-size: var(--heading-2);
	color: var(--dark-gray);
}

h4 {
	font-size: var(--heading-4);
	font-weight: var(--fw-heading);
	color: var(--dark-gray);
}

p {
	font-size: var(--body);
	font-weight: var(--fw-body);
	line-height: 2;
	color: var(--dark-gray);
}

body {
	/* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
	font-size: 14px;
	height: 100%;
	width: 100%;
	font-family: var(--f-body);
	color: var(--dark-gray);
	overflow: hidden;
}
html {
	height: calc(100% - 60px);
}

a {
	color: var(--dark-gray);
	font-weight: var(--fw-heading);
	font-size: var(--fw-body);
	text-decoration: none;
}

/* Navigation CSS */
.nav {
	display: flex;
	padding: 0 41px;
	height: 60px;
	align-items: center;
	position: relative;
	justify-content: space-between;
}

.nav__ol {
	display: inline-flex;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: width 0.35s linear;
	list-style-type: none;
}

.logo__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.logo {
	position: relative;
	z-index: 1;
	max-width: 150px;
}
.link--underline {
	text-decoration: underline;
}

.nav__li {
	transition: background-color 0.5s ease-out;
	font-size: 14px;
}
.nav__a span {
	position: relative;
}

.nav__a {
	position: relative;
	width: 120px;
	text-align: center;
	letter-spacing: 1px;
	display: block;
	margin: 0;
	padding: 7px 0px;
	text-decoration: none;
	height: 100%;
	z-index: 10;
}

.nav__underline {
	height: 2px;
	width: 100%;
	position: absolute;
	background-color: var(--primary);
	display: block;
	bottom: -4px;
	left: 0;

	animation: slide_underline 0.35s linear;
}

/* Overlay CSS */
#overlay {
	background-color: var(--light-gray);
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: var(--border-radius);
	transition: opacity 0.25s linear, left 0.25s linear;
	opacity: 0;
}
#overlay.active {
	opacity: 1;
}
.blur-overlay {
	position: absolute;
	/* opacity: 0; */
	display: none;
	background-color: rgba(75, 75, 75, 0.26);
	height: 100%;
	width: 100%;
	backdrop-filter: blur(3px);
	/* transition: opacity 0.25s linear; */
	overflow: hidden;
	z-index: 900;
}
.blur-overlay.active {
	height: 100%;
	opacity: 1;
}

/* Sidebar Menu In Navigation */
.sidebar-container {
	overflow-y: hidden;
}
.sidebar {
	position: absolute;
	right: 0;
	top: 0;
	width: 350px;
	height: 100%;
	/* opacity: 0; */
	display: none;
	background-color: white;
	z-index: 2000;

	transition: width 0.35s linear;
}
.sidebar.active {
	display: block;
	width: 350px;
}
.sidebar > ol {
	margin: 70px 30px;
	list-style-type: none;
	padding: 0;
}
.sidebar__li {
	margin: 10px 0px;
	text-align: left;
	border-radius: var(--border-radius);
	transition: background-color 0.25s linear;
}

.sidebar__li a {
	width: 100%;
	display: block;
	text-align: left;
	padding: 7px 15px;
	letter-spacing: 1px;
	opacity: 80%;
	border-radius: var(--border-radius);

	transition: background-color 0.25s linear;
}
.sidebar__li:hover {
	background-color: var(--light-gray);
}
.visible {
	display: block;
}

/* Body */
.flex {
	display: flex;
	height: 100%;
}
.flex__details {
	position: absolute;
	bottom: 40px;
	right: 35px;
}

.price {
	position: absolute;
	bottom: -40px;
	width: 300px;
	padding: 5px 5px;

	left: 50%;
	transform: translate(-50%, 15%);
	font-size: 18px;
	font-weight: 500;
	z-index: 10;

	background-color: var(--light-gray);
	border-radius: var(--border-radius);
	text-align: center;
}

.flex__image-full {
	background: url(/assets/solar_install_photo.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	flex-grow: 1;
}

.flex__col {
	width: 550px;
	height: 100%;
	/* margin: 0 auto; */
	/* margin: 0 40px; */
	display: none;
	padding: 2em 40px;
	position: relative;
}

.flex__col.active {
	display: block;
	overflow-y: auto;
}
.flex__col__h4 {
	margin-bottom: 12px;
}
.flex__image {
	width: 70%;
}

/* 
	==============
	Form Related 
	============
*/
.form {
	display: flex;
	flex-flow: column;
	margin-top: 30px;
}
.form__wrap > label,
form > label {
	font-weight: var(--fw-heading);
	color: #5c5e62;
	display: block;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.form__label {
	padding-left: 11px;
}
.form__wrap {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 100%;
	margin: 0 0 30px 0;
}
.form input[type='submit']:focus {
	outline: none;
	border: 1px solid var(--dark-gray);
}
.form__wrap--mgleft {
	margin-left: 11px;
}
.form__wrap-col {
	margin-bottom: 0;
	flex-flow: row;
}
.form__wrap--hidden {
	display: none;
}
.form__wrap--mgbtm {
	margin-bottom: 30px;
}
.form__wrap--inline {
	/* display: inline; */
	flex-direction: row !important;
	justify-content: flex-start;
	align-items: top;
}
.form__wrap--button {
	margin: 10px 0;
}

.circle-box.active {
	background-color: var(--primary);
	border: 2px solid var(--primary);
}
input[type=checkbox]:checked + .form__wrap--hidden {
	display: block;
}

/* Toggle Switch */
.switch {
	position: relative;
	max-width: 300px;
	margin: 5px 0px;
	justify-content: space-around;
	display: flex;

	align-items: center;
	height: 35px;
	padding: 5px 10px;
	border-radius: 18px;
	/* box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05); */
	background: #c8c8c821;
}
.switch-handle {
	position: absolute;
	justify-content: center;
	left: 5px;
	z-index: auto;
	align-items: center;
	width: 50%;
	height: 29.5px;
	/* /* background: linear-gradient(to bottom, #ffffff 40%, #f0f0f0); */
	background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
	border-radius: 20px;
	box-shadow: 1px 5px 10px -5px rgba(63, 63, 63, 0.322);
}
.switch span {
	position: relative;
	z-index: 10;
}
.switch__second,
.switch__first {
	transition: opacity 0.25s linear;
}
.switch-input {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 1px solid red;
	opacity: 0;
	z-index: 50;
	cursor: pointer;
}
.switch__wrap {
	display: flex;
	height: 100%;
	position: relative;
	align-items: center;
}
.switch-label {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	background: #f4f4f4;
	border-radius: inherit;
	/* box-shadow: 0 1px 2px rgba(78, 78, 78, 0.12), 0 0 2px rgba(97, 97, 97, 0.15); */
}
.switch-label:before {
	content: attr(data-off);
	position: relative;
	z-index: 5;
	opacity: 1;
	color: #5c5e62;
}
.switch-label:after {
	content: attr(data-on);
	position: relative;
	z-index: 1;
	color: #5c5e62;
	opacity: 1;
}
.switch-input:checked ~ .switch-label {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked + .switch__first {
	opacity: 0.3;
}
.switch-input:not(:checked) + .switch__first {
	opacity: 1;
}
.switch-input:not(:checked) + .switch__first + .switch__second {
	opacity: 0.3;
}

.switch-input:checked ~ .switch-handle {
	margin-left: calc(100% - 157px);
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-label,
.switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.input {
	border-radius: var(--border-radius);
	border: none;
	padding: 10px 20px;
	background-color: var(--light-gray);
	width: 100%;
}
.spacer {
	width: 30px;
}
.form__placeholder {
	position: absolute;
	font-weight: 500;
	font-size: 15px;
	right: 20px;
	bottom: 9px;
}

.button {
	padding: 13px 0;
	font-weight: 600;
	border-radius: var(--border-radius);
	border: none;
}
/* Button Related */
.button-action {
	background-color: var(--primary);
	color: white;

	transition: background-color 0.15s linear;
}

.input:focus {
	outline: none;
	border: 1px solid var(--primary);
}

.button:hover {
	/* background-color: #2d67b2; */
	background-color: #5091e5;
}
.button:disabled,
.button[disabled] {
	background-color: #2d67b2;
	opacity: 71%;
}
.button:disabled:hover,
.button[disabled]:hover {
	cursor: not-allowed;
}

.sidebar__footer {
	position: absolute;
	bottom: 20px;
	left: 30px;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
[type=”email”],
[type=”tel”],
[type=”number”],
.input-checkbox {
	-webkit-appearance: none;
}

/*
	=========================
	Popup Model Related Code
	==========================
 */
.popup {
	position: absolute;
	display: none;
	width: 50%;
	height: 80%;
	/* border-radius: var(--border-radius); */
	overflow-y: scroll;
	padding: 2em 4em;
	background: rgba(229, 229, 229, 0.30);
	box-shadow: 0 8px 32px 0 rgba(85, 84, 84, 0.582);
	backdrop-filter: blur(19.5px);
	-webkit-backdrop-filter: blur(19.5px);
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	overflow-x: hidden;
	z-index: 5000;
}
.popup--right {
	top: 60px;
	right: 0;
	width: 550px;
	height: 100%;
}
.popup--center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.popup.active {
	display: block;
}
.popup p {
	margin: 20px 0;
	max-width: 80ch;
}
.popup ul {
	margin: 0;
	margin-left: 10px;
	padding: 0;
}
.popup li {
	max-width: 80ch;
	margin: 10px 0;
}
.popup__title {
	display: block;
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
}
.popup__x {
	position: sticky;
	right: 0px;
	float: right;
	top: 0px;
	cursor: pointer;
}
.popup__x:before,
.popup__x:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 20px;
	width: 2px;
	background-color: #333;
}
.popup__x:before {
	transform: rotate(45deg);
}
.popup__x:after {
	transform: rotate(-45deg);
}

.acord__plus {
	position: relative;
	width: 20px;
	height: 20px;
}

.acord__verline {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 100%;
	transform: translateY(-50%);
	width: 4px;
	background-color: var(--primary);
	transition: height .400s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}
.acord__horline {
	height: 4px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	background-color: var(--primary);
}
.acord__plus.active {
	animation: spin .760s cubic-bezier(0.550, 0.085, 0.680, 0.530);
	transform: rotate(180deg);
}
.acord__plus.active .acord__verline {
	height: 0px;
}
@keyframes spin {
	10% {
		transform: rotate(-1deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

/*
	=========================
	Tooltip  Related Code
	==========================
 */
.tooltip {
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
#tooltip--terms {
	margin: 0 5px;
}
.tooltip--btm-right {
	bottom: 10px;
	font-size: var(--sub);
	position: absolute;
	right: 0;
}

/*
	=========================
	Slider Related Code
	==========================
 */

.slider {
	position: relative;
	height: 100%;
	display: block;
	flex-grow: 1;
}

.slider--I {
	margin-bottom: 60px;
}
.slide {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.25s linear;
}
.slide.active {
	opacity: 1;
}
.slide img {
	width: 100%;
	object-fit: cover;
	height: 100%;
	object-position: 40% 55%;
}
.slide__small_image {
	max-width: 70%;
	display: block;
	margin: 0 auto;
}

.dots {
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 15px;
	left: 0;
	z-index: 4;
	right: 0;
}
.dots__dot {
	width: 10px;
	height: 10px;
	margin: 0px 7px;
	border: 1px solid rgba(255, 255, 255, 0.808);
	border-radius: 100%;

	transition: background-color 0.25s linear;
}
.dark-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(29, 27, 27, 0.185);
	/* z-index: 10; */
}
.dots__dot:hover {
	background-color: rgba(163, 163, 163, 0.787);
}
.dots__dot.active {
	background-color: #2d67b2;
	border-color: #2d67b2;
}
.circle {
	position: absolute;
	display: flex;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 100%;
	background-color: rgba(124, 124, 124, 0.53);
	top: 50%;
	z-index: 100;
	opacity: 0;

	transition: opacity 0.25s linear, background-color 0.25s linear;
	transform: translateY(-50%, -50%);
}
.circle.on {
	opacity: 1;
}
.arrow {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: relative;

	transition: border-left 0.25s linear, border-right 0.25s linear;
}
.arrow-left {
	border-right: 10px solid rgba(205, 205, 205, 0.57);
	left: -2px;
}
.arrow-right {
	border-left: 10px solid rgba(205, 205, 205, 0.57);
	left: 2px;
}
.arrow-left.active {
	border-right: 10px solid #2d67b2;
}
.arrow-right.active {
	border-left: 10px solid #2d67b2;
}

.circle-next {
	right: 20px;
}
.circle-back {
	left: 20px;
}

/* Text Related Css */
.text__footer {
	color: var(--dark-gray);
	opacity: 70%;
	font-weight: 200;
}

.text-center {
	display: block;
	margin: 10px auto;
	font-weight: 300;
}
.text__subheading {
	font-size: var(--sub);
	border-bottom: 1px solid var(--dark-gray);
}
/* 
	================================
	MOBILE HELPER  RELATED
	==============================
*/
.mhelper {
	position: absolute;
	z-index: 901;
	bottom: 10px;
	right: 10px;
}
.mhelper__button {
	display: flex;
	position: relative;
	align-items: center;
	z-index: auto;
	justify-content: space-around;
	width: 50px;
	height: 50px;
	padding: 0px 4px;
	background-color: var(--primary);
	border-radius: 50%;
}
.mhelper__circle {
	width: 6px;
	height: 6px;
	background-color: white;
	border-radius: 100%;
}
.mhelper__items-wrapper {
	position: absolute;
	bottom: 0px;
	opacity: 0;
}
.mhelper__items-wrapper.active {
	top: -220px;
}
.mhelper__items-wrapper.active .mhelper__item {
	position: relative;
	margin: 20px 0;
}

.mhelper__item {
	background-color: red;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0px;
	transition: opacity 1s ease-in-out;
}
/* 
	================================
	SCROLL BAR RELATED
	==============================
*/

::-webkit-scrollbar {
	width: 6px;
	border-radius: 20px;
}

::-webkit-scrollbar-track {
	background: #5f5f5f36;
}

::-webkit-scrollbar-thumb {
	background: #2d67b2;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #2d67b2b7;
}

/* 
	================================
	CIRCLE CHECKBOX BAR RELATED
	==============================
*/
input[type=checkbox].circlebox {
	-webkit-appearance: none;
	overflow: hidden;
	height: 14px;
	width: 14px;
	min-width: 14px;
	min-height: 14px;
	border: 1.5px solid var(--dark-gray);
	border-radius: 20px;
	margin: 10px 10px 10px 0px;
	padding: 0;
}
input[type=checkbox]:checked.circlebox {
	animation: pulse 2s;
	background-color: var(--primary);
}
.radio {
	padding: 0;
	margin: 0;
}
.radio__span {
	margin-right: 15px;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(11, 41, 83, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(11, 41, 83, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(11, 41, 83, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(11, 41, 83, 0.4);
		box-shadow: 0 0 0 0 rgba(11, 41, 83, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(11, 41, 83, 0);
		box-shadow: 0 0 0 10px rgba(11, 41, 83, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(11, 41, 83, 0);
		box-shadow: 0 0 0 0 rgba(11, 41, 83, 0);
	}
}

@media screen and (max-width: 1200px) {
	/* body {
		height: 100%;
	} */
	.nav__ol {
		display: none;
	}
}

@media screen and (max-width: 990px) {
	body,
	html {
		height: 100%;
		overflow: auto;
	}
	.flex {
		flex-direction: column;
		height: auto;
	}
	.flex__col.active {
		overflow-y: hidden;
	}
	.flex__col {
		width: auto;
		/* padding: 28px 28px; */
		/* flex: 0 1; */
	}
	.slider {
		height: 400px;
		flex: 1 0;
		flex-basis: auto;
		position: relative;
	}
	.circle {
		width: 30px;
		height: 30px;
	}
	.arrow {
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;

		transition: border-left 0.25s linear;
	}
	.arrow-left {
		border-right: 7px solid rgba(205, 205, 205, 0.57);
		right: 0;
	}
	.arrow-right {
		left: 0px;
		border-left: 7px solid rgba(205, 205, 205, 0.57);
	}
	.sidebar {
		width: 250px !important;
	}
	div.popup {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		height: 85%;
		width: 85%;
		padding: 1em 2.6em;
	}
}

@media screen and (max-width: 400px) {
	.slider {
		height: 350px;
	}
}
