.slider {
	position: relative;
	height: 100%;
	display: block;
}
.slider--I {
	margin-bottom: 60px;
}
.slide {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.25s linear;
}
.slide.active {
	opacity: 1;
}
.slide img {
	width: 100%;
	object-fit: cover;
	object-position: 40% 55%;
	height: 100%;
}
.slide__small_image {
	max-width: 70%;
	display: block;
	margin: 0 auto;
}

.dots {
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 15px;
	left: 0;
	z-index: 4;
	right: 0;
}
.dots__dot {
	width: 10px;
	height: 10px;
	margin: 0px 7px;
	border: 1px solid rgba(255, 255, 255, 0.808);
	border-radius: 100%;

	transition: background-color 0.25s linear;
}
.dark-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(29, 27, 27, 0.185);
	/* z-index: 10; */
}
.dots__dot:hover {
	background-color: rgba(163, 163, 163, 0.787);
}
.dots__dot.active {
	background-color: #2d67b2;
	border-color: #2d67b2;
}
.circle {
	position: absolute;
	display: flex;
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 100%;
	background-color: rgba(124, 124, 124, 0.53);
	top: 50%;
	z-index: 100;
	opacity: 0;

	transition: opacity 0.25s linear, background-color 0.25s linear;
	transform: translateY(-50%, -50%);
}
.circle.on {
	opacity: 1;
}
/* .circle:hover {
	background-color: #2d67b2;
} */
.arrow {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;

	transition: border-left 0.25s linear, border-right 0.25s linear;
}
.arrow-left {
	border-right: 10px solid rgba(205, 205, 205, 0.57);
}
.arrow-right {
	border-left: 10px solid rgba(205, 205, 205, 0.57);
}
.arrow-left.active {
	border-right: 10px solid #2d67b2;
}
.arrow-right.active {
	border-left: 10px solid #2d67b2;
}

.circle-next {
	right: 20px;
}
.circle-back {
	left: 20px;
}

@media screen and (max-width: 990px) {
	body,
	html {
		overflow: auto;
	}
	.slider {
		flex-grow: 1;
	}
	.slider--I {
		margin-bottom: 0;
	}

	.circle {
		width: 30px;
		height: 30px;
	}
	.arrow {
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;

		transition: border-left 0.25s linear;
	}
	.arrow-left {
		border-right: 7px solid rgba(205, 205, 205, 0.57);
	}
	.arrow-right {
		border-left: 7px solid rgba(205, 205, 205, 0.57);
	}
}
